<mat-toolbar color="primary">
  <span>Biblioteca</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/home">Página inicial</button>
  <button mat-button routerLink="/books">Livros</button>
  <button mat-button routerLink="/authors">Autores</button>
  <button mat-button routerLink="/collections">Coleções</button>
  <button mat-button routerLink="/publishers">Editoras</button>
  <button mat-button routerLink="/subjects">Assuntos</button>
  <button mat-button routerLink="/book-types">Tipos de Livro</button>
</mat-toolbar>

<!-- Container para as páginas renderizadas -->
<div class="container">
  <div>
    <mat-card appearance="outlined">
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>
