<h2 mat-dialog-title>{{ isEditMode ? "Editar Autor" : "Novo Autor" }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Nome Completo</mat-label>
      <input matInput formControlName="full_name" />
      <mat-error *ngIf="form.get('full_name')?.hasError('required')">
        Nome é obrigatório
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    [disabled]="form.invalid"
  >
    Salvar
  </button>
</mat-dialog-actions>
